In [1]:
import pandas as pd
import random as r

In [2]:
'''
Python Introduction Lecture

'''

# Sequence Type: List / Also look in the list comprehension for examples of for loops
basketball_data = pd.read_csv("./data-analysis/all_seasons.csv")
heights = [height for height in basketball_data["player_height"]] 
ages = [age for age in basketball_data["age"]]
draft_years = [year for year in basketball_data["draft_year"]]
players = [player for player in basketball_data["player_name"]]

# Numeric: Integers and Floats
year = 1991 # integer/int
height = 205.74 # float
age = 35.0 # float

# String
name = 'Draymond Green'# string/str

# Boolean
truth = height <= year # true boolean/bool
untrue = height == year # false boolean/bool

# Mapping Type: Dictionary/dict / also an example of how to use a while loop
drafted_players = {}

i = 0
while i < 10:
    drafted_players[players[i]] = draft_years[i]
    i += 1

In [3]:
ages = ages[0:10] # here is what a list looks like
heights = heights[0:10]

In [4]:
drafted_players # here is what a dictionary looks like

{'Travis Knight': '1996',
 'Matt Fish': '1992',
 'Matt Bullard': 'Undrafted',
 'Marty Conlon': 'Undrafted',
 'Martin Muursepp': '1996',
 'Martin Lewis': '1995',
 'Mark West': '1983',
 'Mark Strickland': 'Undrafted',
 'Mark Price': '1986',
 'Mark Jackson': '1987'}

In [5]:
'''
Python Operators Lecture

'''

# Arithmetic Operators

add = 22 + 27
string_add = "Hello " + "my name is " + "henry"
multi = 30 * 29
string_multi = "Blah blah " * 3
minus = 22 - 27
div = 30 / 29 
mod = 22 % 27
exp = 10 ** 5
floor = 22 // 27

# Comparison Operators

equal = 22 == 27
great = 22 > 27
less = 22 < 27
great_eq = 22 >= 27
less_eq = 22 <= 27
not_eq = 22 != 27

# Logical Operatiors

and_op = 22 == 27 and 22 > 27
or_op = 22 < 27 or 22 > 27
not_op = str(add) not in "minus" # can also be used with != (not equal)

# Membership Operator

in_op = "H" in "Henry"
not_in = str(add) not in "minus"

# Conditional Operators

instructor = "Lauren"

if instructor == 'Henry':
  print("Slack henry")
elif instructor == "Kiyomi":
  print("Slack Kiyomi")
else:
  print("Doesnt teach")

Doesnt teach

In [6]:
'''
Python Strings, List and Dictionaries Lecture

ages.remove(22.0)
ages.pop(0)
ages.clear()

'''


basketball_data

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Travis Knight,LAL,22.0,213.36,106.594120,Connecticut,USA,1996,1,...,4.8,4.5,0.5,6.2,0.127,0.182,0.142,0.536,0.052,1996-97
1,1,Matt Fish,MIA,27.0,210.82,106.594120,North Carolina-Wilmington,USA,1992,2,...,0.3,0.8,0.0,-15.1,0.143,0.267,0.265,0.333,0.000,1996-97
2,2,Matt Bullard,HOU,30.0,208.28,106.594120,Iowa,USA,Undrafted,Undrafted,...,4.5,1.6,0.9,0.9,0.016,0.115,0.151,0.535,0.099,1996-97
3,3,Marty Conlon,BOS,29.0,210.82,111.130040,Providence,USA,Undrafted,Undrafted,...,7.8,4.4,1.4,-9.0,0.083,0.152,0.167,0.542,0.101,1996-97
4,4,Martin Muursepp,DAL,22.0,205.74,106.594120,None,USA,1996,1,...,3.7,1.6,0.5,-14.5,0.109,0.118,0.233,0.482,0.114,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11695,11695,Matthew Dellavedova,CLE,30.0,190.50,90.718400,St.Mary's College of California,Australia,Undrafted,Undrafted,...,2.8,1.8,4.5,-3.1,0.029,0.085,0.125,0.312,0.337,2020-21
11696,11696,Maurice Harkless,SAC,28.0,200.66,99.790240,St. John's,USA,2012,1,...,5.2,2.4,1.2,-2.9,0.017,0.097,0.114,0.527,0.071,2020-21
11697,11697,Max Strus,MIA,25.0,195.58,97.522280,DePaul,USA,Undrafted,Undrafted,...,6.1,1.1,0.6,-4.2,0.011,0.073,0.179,0.597,0.074,2020-21
11698,11698,Marcus Morris Sr.,LAC,31.0,203.20,98.883056,Kansas,USA,2011,1,...,13.4,4.1,1.0,4.2,0.025,0.133,0.194,0.614,0.056,2020-21
11699,11699,Aaron Gordon,DEN,25.0,203.20,106.594120,Arizona,USA,2014,1,...,12.4,5.7,3.2,2.1,0.055,0.150,0.204,0.547,0.165,2020-21