In [1]:
import pandas as pd
import random as r

This file will house any examples that I want to show you all that is related to any of the lecture material

Python Introduction Lecture
- different data types and variable assignment: Numeric Types, Strings, Booleans, Lists, Dictionaries

In [2]:
'''
Python Introduction Lecture

'''

# Sequence Type: List
basketball_data = pd.read_csv("./data-analysis/all_seasons.csv")
heights = [height for height in basketball_data["player_height"]] 
ages = [age for age in basketball_data["age"]]
draft_years = [year for year in basketball_data["draft_year"]]
players = [player for player in basketball_data["player_name"]]

# Numeric: Integers and Floats
year = 1991 # integer/int
height = 205.74 # float
age = 35.0 # float

# String
name = 'Draymond Green'# string/str

# Boolean
truth = height <= year # true boolean/bool
untrue = height == year # false boolean/bool

# Mapping Type: Dictionary/dict
drafted_players = {}

i = 0
while i < 10:
    drafted_players[players[i]] = draft_years[i]
    i += 1

In [3]:
ages[0:10] # here is what a list looks like

[22.0, 27.0, 30.0, 29.0, 22.0, 22.0, 36.0, 26.0, 33.0, 32.0]

In [4]:
drafted_players # here is what a dictionary looks like

{'Travis Knight': '1996',
 'Matt Fish': '1992',
 'Matt Bullard': 'Undrafted',
 'Marty Conlon': 'Undrafted',
 'Martin Muursepp': '1996',
 'Martin Lewis': '1995',
 'Mark West': '1983',
 'Mark Strickland': 'Undrafted',
 'Mark Price': '1986',
 'Mark Jackson': '1987'}

In [10]:
'''
Python Operators Lecture

'''

# Arithmetic Operators

add = 22 + 27
string_add = "Hello " + "my name is " + "henry"
multi = 30 * 29
string_multi = "Blah blah " * 3
minus = 22 - 27
div = 30 / 29 
mod = 22 % 27
exp = 10 ** 5
floor = 22 // 27

# Comparison Operators

equal = 22 == 27
great = 22 > 27
less = 22 < 27
great_eq = 22 >= 27
less_eq = 22 <= 27
not_eq = 22 != 27

# Logical Operatiors

and_op = 22 == 27 and 22 > 27
or_op = 22 < 27 or 22 > 27
not_op = add not in "minus"

print(and_op, or_op, not_op)

TypeError: argument of type 'int' is not iterable